<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Welcome to OpenShift</title>

  <link rel="stylesheet" href="http://b4mad.net/css//normalize.css" />
	<link rel="stylesheet" href="http://b4mad.net/css/skeleton.css" />
	<link rel="stylesheet" href="http://b4mad.net/css/overpass.css" />
	<link rel="stylesheet" href="http://b4mad.net/css/custom.css" />

</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-8">&nbsp;</div>
    </div>
    <div class="header clearfix">
      <div class="row">
        <div class="col-md-8"><img src="http://graphics.b4mad-service.net/B42u-small.jpg" alt="#B4mad" /></div>
      </div>
    </div>


<main role="main">
  <article itemscope itemtype="http://schema.org/BlogPosting">
    <h1 class="entry-title" itemprop="headline">This is a nodejs OpenShift demo application - HUZZAH!</h1>
    <span class="entry-meta"><time itemprop="datePublished" datetime="2001-01-01"><%= new Date().toISOString().replace(/T/, ' ').replace(/\..+/, '') %></time></span>
    <section itemprop="entry-text">
      <div id="header">
      </div>

      <div id="content">
        <div class="paragraph">

        <div class="row">
          <section class="col-xs-12 col-sm-6 col-md-6">
            <section>
              <h2>How to use this example application</h2>
                <p>For instructions on how to use this application with OpenShift, start by reading the <a href="http://docs.openshift.org/latest/dev_guide/templates.html#using-the-quickstart-templates">Developer Guide</a>.</p>

              <h2>Deploying code changes</h2>
                <p>
                  The source code for this application is available to be forked from the <a href="https://www.github.com/openshift/nodejs-ex">OpenShift GitHub repository</a>.
                  You can configure a webhook in your repository to make OpenShift automatically start a build whenever you push your code:
                </p>

<ol>
  <li>From the Web Console homepage, navigate to your project</li>
  <li>Click on Browse &gt; Builds</li>
  <li>Click the link with your BuildConfig name</li>
  <li>Click the Configuration tab</li>
  <li>Click the "Copy to clipboard" icon to the right of the "GitHub webhook URL" field</li>
  <li>Navigate to your repository on GitHub and click on repository settings &gt; webhooks &gt; Add webhook</li>
  <li>Paste your webhook URL provided by OpenShift</li>
  <li>Leave the defaults for the remaining fields &mdash; that's it!</li>
</ol>
<p>After you save your webhook, if you refresh your settings page you can see the status of the ping that Github sent to OpenShift to verify it can reach the server.</p>
<p>Note: adding a webhook requires your OpenShift server to be reachable from GitHub.</p>

                <h3>Working in your local Git repository</h3>
                <p>If you forked the application from the OpenShift GitHub example, you'll need to manually clone the repository to your local system. Copy the application's source code Git URL and then run:</p>

<pre>$ git clone &lt;git_url&gt; &lt;directory_to_create&gt;

# Within your project directory
# Commit your changes and push to OpenShift

$ git commit -a -m 'Some commit message'
$ git push</pre>

<p>After pushing changes, you'll need to manually trigger a build if you did not setup a webhook as described above.</p>

            </section>

          </section>
          <section class="col-xs-12 col-sm-6 col-md-6">

                <h2>Managing your application</h2>

                <p>Documentation on how to manage your application from the Web Console or Command Line is available at the <a href="http://docs.openshift.org/latest/dev_guide/overview.html">Developer Guide</a>.</p>

                <h3>Web Console</h3>
                <p>You can use the Web Console to view the state of your application components and launch new builds.</p>

                <h3>Command Line</h3>
                <p>With the <a href="http://docs.openshift.org/latest/cli_reference/overview.html">OpenShift command line interface</a> (CLI), you can create applications and manage projects from a terminal.</p>

                <h2>Request information</h2>
                <p>Page view count:
                <% if (pageCountMessage) { %>
                   <span class="code" id="count-value"><%= pageCountMessage %></span>
                   </p>
                    <div class="code"><h3>database Info:</h3>
                      <table style='margin-left: 20px'>
                          <tr><td>Type:</td><td><%= dbInfo.type %></td></tr>
                          <tr><td>URL:</td><td><%= dbInfo.url %></td></tr>
                      </table>
                    </div>
                <% } else { %>
                   <span class="code" id="count-value">No database configured</span>
                   </p>
                <%} %>

          </section>
        </div>

        </div>
      </div>

    </section>
  </article>
</main>

<footer role="contentinfo">
  <div class="copyright">Copyright &copy; 2016 the members of #B4mad - Licensed under <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">a creative commons licence</a></div>
</footer>

</div>
</body>
</html>
